#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.fullscreen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.queue, .admin-system {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  padding: 30px;
  max-width: 80%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease;
}
.admin-system {
  width: 80%;
}

.admin-system .counters-div {
  padding: 50px;
  display: flex;
}
.admin-system .counters-div .counter {
  width: 25%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  color: #333;
}

.service-selection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.service-selection label {
  padding: 10px 20px;
  color: #333;
  font-size: x-large;
}

.form-control{
  width: 40%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.btn {
  background-color: #0d0e0d;
  color: white;
  padding: 10px 20px;
  margin-left:5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b8b2c3;
  color: black;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0;
}

.queue-display {
  font-size: 20px;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.counters {
  display: flex;
  justify-content: center;
}

.counter, .counter-unselected, .counter-selected {
  --box-shadow-clr : rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  margin: 15px;
  text-align: center;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px var(--box-shadow-clr);
  transition: transform 0.3s;
}
/* separate animation */
.counter {
  animation: zoomIn 0.8s 1 ease;
}
.counter-unselected {
  --box-shadow-clr: rgba(0, 0, 0, 0.5);
  animation: trembling 0.3s ease infinite;
}
.counter-selected {
  --box-shadow-clr: rgba(40, 184, 186, 0.861);
}

@keyframes trembling {
  from: {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
.counter:hover {
  transform: scale(1.05);
}
.counter-selected:hover, .counter-unselected:hover {
  transform: none;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.counter-icon {
  font-size: 48px;
  margin-bottom: 0px;
  color: #0d0e0d;
}

.counter-number {
  font-size: 32px;
  color: #0d0e0d;
  font-weight: 500;
}

.counter-service {
  font-size: 16px;
  margin-bottom: 20px;
}

.counter-button {
  background-color: #0d0e0d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.counter-button:hover {
  background-color: #b8b2c3;
  color: black;
}

.counter-ticket{
  font-size: larger;
  font-weight: bolder;
  color: black;
  margin-bottom: 20px;
  border: solid 1px #ccc;
  border-radius: 6px;
  background-color: #fff;
  padding: 2px;
}
h3{
  color: #0d0e0d;
  font-size: 15px;
}

.total-services {
  margin-top: 20px;
}

.new-customer-info {
  margin-bottom: 30px;
  color:#888;
  animation: fadeInUp 1s ease;
}

.new-customer-info p {
  margin: 0;
  font-size: 18px;
  color: #888;
}

.waiting-time {
  font-size: 16px;
  color: #888;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.counter-animating {
  animation: pulse 0.6s infinite;
}
